
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>Add Student</h2>
	<form action="add/save" method="POST">
<ul>
	<li>name: <input type="text" name="name"></li>
	<li>group_id <select name="group_id">
	<?
		foreach ($groups as $group) :
	?>
		<option value="<?php echo $group["Group"]["id"];?>"><?php echo $group["Group"]["name"];?></option>
	<?
		endforeach
	?>
	</select></li>
	<li><input type="submit">
</ul>
</form>
<a href="/admin">Back</a>
</body>
</html>