<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Studnet</h2>
	<?
	foreach ($students as $student) {
		if ($student == null)
		{
			echo "nulls Values";
			break;
		}
	?>
		<li><a href="/rating/index/<?echo $student["Student"]["id"];?>"><?echo $student["Student"]["name"];?></a></li>
	<?
	}
	?>
	<a href="/">Back</a>
</body>
</html>
<ul>