<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>Увше Student</h2>
	<form action="<?php echo $student["Student"]["id"];?>/update" method="POST">
<ul>
	<li>id: <?php echo $student["Student"]["id"];?></li>
	<li>name: <input type="text" name="name" value="<?php echo $student["Student"]["name"];?>"></li>
	<li>group_id <select name="group_id">
	<?
		foreach ($groups as $group) :
			$checked = "";
			if ($student["Student"]["group_id"] == $group["group"]["id"]){
				$checked = "selected";
			}
	?>
		<option <?echo $checked;?> value="<?php echo $group["group"]["id"];?>"><?php echo $group["group"]["name"];?></option>
	<?
		endforeach
	?>
	</select></li>
	<li><input type="submit">
</ul>
<a href="/student/delete/<?php echo $student["Student"]["id"];?>">Delete</a>
<a href="/admin">Back</a>
</form>
</body>
</html>