<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Student</h2>
	<?php
	foreach ($students as $student) {
	?>
		<ul>
			<li><a href="edit/<?php echo $student["Student"]["id"];?>"><?php echo $student["Student"]["name"];?> | <?php echo $student["group"]["name"];?></a></li>
		</ul>
	<?
	}
	?>
	<a href="/student/add">Add Student</a>
	<a href="/admin">Back</a>
</body>
</html>