<!DOCTYPE html>
<html>
<head>
	<title>Add Group</title>
</head>
<body>
<h2>Add Group</h2>
	<form action="add/save" method="POST">
	  <ul>
	    <li><input type="text" name="name"></li>
	    <li><input type="submit" name="add"></li>
	  </ul>
	</form>
	<a href="/admin">Back</a>
</body>
</html>