<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Group</h2>
	<a href="/admin">Admin</a>
<?php
	for ($i=0; $i < sizeof($groups); $i++) { 
		?>
			<a href="/student/index/<?php echo $groups[$i]["Group"]["id"];?>"><? echo $groups[$i]["Group"]["name"];?></a>
	<?
	}
	?>
</body>
</html>