<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Group</h2>
	<?php
	foreach ($groups as $group) {
	?>
		<ul>
			<li><a href="/group/edit/<?php echo $group["Group"]["id"];?>"><?php echo $group["Group"]["name"];?></a></li>
		</ul>
	<?
	}
	?>
	<a href="/group/add">Add Group</a>
	<a href="/admin">Back</a>
</body>
</html>