<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>Edit Group</h2>
	<form action="<?php echo $group["Group"]["id"];?>/update" method="POST">
		<ul>
			<li>id: <?php echo $group["Group"]["id"];?></li>
			<li>name: <input type="text" name="name" value="<?php echo $group["Group"]["name"];?>"></li>
			<li><input type="submit">
		</ul>
<a href="/group/delete/<?php echo $group["Group"]["id"];?>">Delete</a>
<a href="/admin">Back</a>
</form>
</body>
</html>
