<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h2>Add Teacher</h2>
<form action="add/save" method="POST">
  <ul>
    <li>name: <input type="text" name="name" ></li>
    <li>teacher_id<select name="teacher_id">
	<?php
		foreach ($teachers as $teacher) : 
		?>
		<option value="<?php echo $teacher["Teacher"]["id"]?>"><?php echo $teacher["Teacher"]["name"]?></option>
		<?php
			endforeach
		?>
	</select>
    </li>
    <li><input type="submit" name="add"></li>
  </ul>
</form>
<a href="/admin">Back</a>
</body>
</html>