<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Subject</h2>
	<?php
	foreach ($subjects as $subject) {
		?>
			<a href="/subject/index/<?php echo $subject["Subject"]["id"];?>"><? echo $subject["Subject"]["name"];?></a>
	<?
	}
	?>
</body>
</html>