<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Teacher</h2>
	<?php
	foreach ($subjects as $subject) {
	?>
		<ul>
			<li><a href="/subject/edit/<?php echo $subject["Subject"]["id"];?>"><?php echo $subject["Subject"]["name"];?></a></li>
		</ul>
	<?
	}
	?>
	<a href="/subject/add">Add Subject</a>
	<a href="/admin">Back</a>
</body>
</html>