<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h2>Add Teacher</h2>
	<form action="add/save" method="POST">
	  	<ul>
		    <li>name<input type="text" name="name"></li>
		    <li>password<input type="password" name="password"></li>
		    <li>login<input type="text" name="login"></li>
		    <li>Key<input type="text" name="keyIdСertificate"></li>
		    <li><input type="submit" name="add"></li>
	  	</ul>
	</form>
</body>
</html>