<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Teacher</h2>
	<?php
	foreach ($teachers as $teacher) {
		?>
			<a href="/teacher/index/<?php echo $teacher["Teacher"]["id"];?>"><? echo $teacher["Teacher"]["name"];?></a>
	<?
	}
	?>
</body>
</html>