<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Teacher</h2>
	<?php
	foreach ($teachers as $teacher) {
	?>
		<ul>
			<li><a href="/teacher/edit/<?php echo $teacher["Teacher"]["id"];?>"><?php echo $teacher["Teacher"]["name"];?></a></li>
		</ul>
	<?
	}
	?>
	<a href="/teacher/add">Add Teacher</a>
</body>
</html>