<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>Edit Teacher</h2>
	<form action="<?php echo $teacher["Teacher"]["id"];?>/update" method="POST">
	<ul>
		<li>id: <?php echo $teacher["Teacher"]["id"];?></li>
		<li>name: <input type="text" name="name" value="<?php echo $teacher["Teacher"]["name"];?>"></li>
	    <li>password<input type="password" name="password" value="<?php echo $teacher["Teacher"]["name"];?>"></li>
	    <li>login<input type="text" name="login" value="<?php echo $teacher["Teacher"]["login"];?>"></li>
	    <li>Key<input type="text" name="keyIdСertificate" value="<?php echo $teacher["Teacher"]["name"];?>"></li>
		<li><input type="submit">
	</ul>
<a href="/teacher/delete/<?php echo $teacher["Teacher"]["id"];?>">Delete</a>
</form>
</body>
</html>
