<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h2>Add Rating</h2>
<form action="add/save" method="POST">
  <ul>
    <li>rating: <input type="text" name="rating" ></li>
    <li>subject_id<select name="subject_id">
	<?php
		foreach ($subjects as $subject) : 
		?>
		<option value="<?php echo $subject["Subject"]["id"]?>"><?php echo $subject["Subject"]["name"]?></option>
		<?php
			endforeach
		?>
	</select>
    </li>
    <li>student_id<select name="student_id">
	<?php
		foreach ($students as $student) : 
		?>
		<option value="<?php echo $student["Student"]["id"]?>"><?php echo $student["Student"]["name"]?></option>
		<?php
			endforeach
		?>
	</select>
    </li>
    <li><input type="submit" name="add"></li>
  </ul>
</form>
<a href="/admin">Back</a>
</body>
</html>