<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<?
	if (sizeof($ratings["ratings"]) ==0 )
	{
		echo "nuls...";
	}
	else{
		$studentName = $ratings["ratings"]["student"]["name"];
?>
<h2>Студент: <?php echo $studentName;?></h2>

<table>
<tr><td>Предмет</td><td>Оцінка</td><td>Дата</td></tr>
<?php
	foreach ($ratings as $rating):
?>
	<tr><td><? echo $rating["subject"]["name"];?></td><td><? echo $rating["Rating"]["rating"];?></td><td><? echo $rating["Rating"]["data"];?></td></tr>
<?
	endforeach
?>
<table>
<?
	}
?>
<a href="/student/index/<?php echo $back;?>">Back</a>
</body>
</html>

	
