<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h2>All Rating</h2>
	<table>
	<tr>
			<td>Student</td>
			<td>Subject</td>
			<td>Rating</td>
			<td></td>
	</tr>
<?php
	foreach ($ratings as $rating) {
	?>
	<tr>
			<td><?php echo $rating["student"]["name"];?></td>
			<td><?php echo $rating["subject"]["name"];?></td>
			<td><?php echo $rating["Rating"]["rating"];?></td>
			<td><a href="/rating/edit/<?php echo $rating["Rating"]["id"];?>">Edit</a></td>
	</tr>
	<?
	}
	?>
</table>
	<a href="/rating/add">Add Rating</a>
	<a href="/admin">Back</a>
</body>
</html>