<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/admin/index/open" method="POST">
	<ul>
		<li>login<input type="text" name="login"></li>
		<li>password<input type="password" name="password"></li>
		<li><input type="submit"></li>
	</ul>
</form>
</body>
</html>

